.landing-page {
	.text {
		padding-left: 150px;
	}
	.container.full {
		margin: 2em auto 2em;
		width: 100%;
	}
	.row .col-4 {
		color: white;
		margin: 0.5rem 0%;
		padding: 0px 2%;
		width: calc(88% / 3);
		position: relative;
		height: 300px;
		margin-bottom: 150px;
		&:after {
			clear: both;
			content: "";
			display: table;
		}
		a {
			text-decoration: none;
			color: white;
		}
		&:nth-child(4n + 1) {
			background-image: linear-gradient(-172deg, #F7CD69 0%, #FAA282 100%);
			.project-author {
				color: #FAA282;
			}
		}
		&:nth-child(4n + 2) {
			background-image: linear-gradient(-171deg, #83F1BE 0%, #91BFDB 100%);
			.project-author {
				color: #91BFDB;
			}
		}
		&:nth-child(4n + 3) {
			
			background-image: linear-gradient(-172deg, #F18BE5 0%, #F45E7C 100%);
			.project-author {
				color: #F45E7C;
			}
		}
		&:nth-child(4n + 4) {
			background-image: linear-gradient(-172deg, #8F8BF1 0%, #5EB4F4 100%);
		}
		.project-content {
			max-width: calc(425px - 2em);
			height: calc(440px - 2em);
			display: block;
			// background-color: rgba(0,0,0,0.2);
			margin: 0 auto;
			padding: 1em 0em;
			position: relative;
			&:after {
				content: "";
				margin: 0 auto;
				width: calc(175px - 4em);
				height: 225px;
				position: absolute;
				left: 3em;
				top: 193px;
				display: block;
				z-index: -1;
			}
		}
		&:nth-child(4n + 1) {
			.project-content:after {
				box-shadow: 0px 0px 40px 0px #FAA282;
			}
		}
		&:nth-child(4n + 2) {
			.project-content:after {
				box-shadow: 0px 0px 40px 0px #91BFDB;
			}
		}
		&:nth-child(4n + 3) {
			.project-content:after {
				box-shadow: 0px 0px 40px 0px #F45E7C;
			}
		}
		.project-image-block {
			margin: -1em 0em 0em -1em;
			img {
				width: calc(100% + 1em);
			}
		}
		.project-title {
			font-size: 24px;
			font-weight: 200;
			height: 150px;
			display: block;
		}
		.project-card {
			background: #F2F2F2;
			box-shadow: 0 0 10px 0 rgba(0,0,0,0.40);
			border-radius: 3px;
			width: 175px;
			height: 225px;
			position: absolute;
			z-index: 10;
			color: black;
			padding: 1em;
		}
		.project-subtitle {
			padding-top: 1em;
			font-weight: 600;
			font-size: 1.1em;
		}
		.project-author {
			font-weight: 500;
			font-size: 0.9em;
			position: absolute;
			bottom: 1em;
		}

		.project-audience {
			// width: 200px;
			position: absolute;
			bottom: 140px;
			right: 1em;
			text-align: right;
			text-transform: uppercase;
			opacity: 0.5;
			font-size: 0.7em;
			line-height: 2;
			font-weight: 500;
		}
		.project-audience-item {
			white-space: nowrap;
		}
	}
}

// @media only screen and (max-width: 45em) {  /* 720px */
@media only screen and (max-width: 52em) {  /* 640px */
	.landing-page {
		.text {
			padding-left: 0px;
		}
		.row .col-4 {
			width: 90%;
			padding: 0px 5%;
			height: auto;
			margin: 0px;
			.project-title {
				height: auto;
				padding-bottom: 1.5em;
			}
			.project-content {
				max-width: 100%;
				padding: 1em 2%;
				height: auto;
			}
			.project-card {
				position: relative;
				margin: 0 auto;
			}
			.project-audience {
				position: static;
				padding-top: 1.5em;
				text-align: center;
			}
		}

	}
}
