.navbar {
	font-size: 3em;
	font-weight: 200;
	position: relative;
	.nav-logo {
		position: absolute;
		top: 20px;
		img {
			height: 75px;	
		}
	}
	.nav-title {
		display: block;
		// padding-left: 150px;
		padding-left: 140px;
	}
	a {
		text-decoration: none;
		color: #8B8B8B;
	}
}

@media only screen and (max-width: 52em) {  /* 640px */
	.navbar {
		.nav-logo {
			top: 8px;
		}
	}
}
