.project-page {


	&.ben .author {
		color: #FAA282;
	}
	&.sigin .author {
		color: #F45E7C;
	}
	
	&.nat .author {
		color: #91BFDB;
	}

	.title {
		font-size: 2.5em;
		padding: 1em 0em 20px 0em;
		font-weight: 300;
	}
	.subtitle {
		font-size: 1.5em;
		padding: 0em 0em 20px 0em;
		font-weight: 300;
	}
	.author {
		font-weight: 300;
	}
	.title, .subtitle, .author, .article-content {
		padding-left: 150px;
	}
	.article-content {
		h2 {
			font-size: 1.5em;
			font-weight: 400;
		}
		p {
			font-size: 18px;
			line-height: 1.5;	
		}
		
	}
	// .header {
	// 	background-image: url('/images/landing.jpg');
	// 	background-size: cover;
	// 	background-position: center center;
	// 	padding: 10em 0em 5em;
	// 	&.hero-sigin { background-image: url('/images/sigin.jpg'); }
	// 	&.hero-ben { background-image: url('/images/ben.jpg'); }
	// 	&.hero-martin { background-image: url('/images/martin.jpg'); }
	// 	&.hero-nat { background-image: url('/images/nat.jpg'); }
	// 	position: relative;
	// }
	// .project-title {
	// 	padding-bottom: 5em;
	// }
	// .subheader {
	// 	color: white;
	// 	padding: 2em 0em 0em;
	// 	font-size: 1.5em;
	// }
	img, video, figure {
		max-width: 100%;
		width: auto;
		margin: 0 auto;
		display: block;
	}
	figure {
		padding: 2em 0em;
	}
	figure h6 {
		margin: 0.5em 0em;
	}
	blockquote {
		border-left: 5px solid #ccc;
		margin: 0em;
		padding: 1em;
		font-size: 1.25em;
	}
	iframe {
		width: 100%;
		margin: 0 auto;
		height: 400px;
	}
}

@media only screen and (max-width: 52em) {  /* 640px */
	.project-page {
		.left-padding {
			padding-left: 0px;
		}
	}
}