.project-page {
	&.ben .author {
		color: #FAA282;
	}
	&.sigin .author {
		color: #91BFDB;
	}
	
	&.nat .author {
		color: #F45E7C;
	}
	.title {
		font-size: 2.25em;
		padding: 1em 0em 14px 0em;
		font-weight: 600;
	}
	.subtitle {
		font-size: 1.5em;
		padding: 0em 0em 20px 0em;
		font-weight: 300;
	}
	.author {
		padding-bottom: 1em;
		bottom: 3em;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 1px;
		font-weight: 500;
	}
	.title, .subtitle, .author, .article-content, .left-padded {
		padding-left: 150px;
	}
	.article-content {
		max-width: 700px;
		position: relative;
		h2 {
			font-size: 1.25em;
			font-weight: 600;
			margin-bottom: -0.25em;
		}
		p {
			font-size: 18px;
			line-height: 1.5;	
		}
		
	}
	.audience {
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 1px;
		font-weight: 500;
		color: rgba(0, 0, 0, 0.5);
	}
	
	img, video, figure {
		max-width: 100%;
		width: auto;
		margin: 0 auto;
		display: block;
	}
	figure {
		padding: 2em 2em;
		figcaption {
			padding-top: 5px;
			color: rgba(0, 0, 0, 0.75);
		}
	}
	figure.large {
		margin: 0em 0em 0em -8em;
		width: calc(100% + 16em);
		max-width: calc(100% + 16em);
		padding: 2em 0em;
	}
	figure h6 {
		margin: 0.5em 0em;
	}
	blockquote {
		border-left: 2px solid rgba(0, 0, 0, 0.15);
		margin: 0em;
		padding: 1em;
		font-size: 18px;
		line-height: 1.5;
	}
	iframe {
		width: 100%;
		margin: 0 auto;
		height: 400px;
	}
}

@media only screen and (max-width: 52em) {  /* 640px */
	.project-page {
		.title, .subtitle, .author, .article-content, .left-padded {
			padding-left: 0px;
		}
		figure.large {
			max-width: 100vw;
			margin: 0em 0em 0em -8%;
			width: 100vw;
			figcaption {
				padding-left: 1em;
				
			}
		}
	}
	
}
